*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    line-height: 1;
    background: #121212;
    font-size: 14px;
    color: #37353b;
    font-weight: 500;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------------------- */
.__container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

/* ---------------------------------------------------------------------------- */
.auth__body {
    display: flex;
    height: 100vh;
    background: #fafafa;
}

.auth__left {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left__login {
    background: #F2D184;
}

.left__registration {
    background: #F1CDD7;
}

.left__head {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left__logo {
    width: 500px;
    font-size: 16px;
}

.left__logo-login {
    color: #A68238;
}

.left__logo-registration {
    color: #A67E8C;
}

.left__title {
    margin-top: 50px;
    width: 500px;
    font-size: 28px;
    font-weight: 600;
}

.left__title-login {
    color: #866118;
}

.left__title-registration {
    color: #865C6C;
}

.auth__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50%;
}

/* ---------------------------------------------------------------------------- */
.right__title {
    font-size: 30px;
    font-weight: 600;
}

.right__form {
    margin-top: 40px;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
}

.form__label {
    margin-bottom: 20px;
    width: 500px;
    font-size: 20px;
    font-weight: 600;
    color: #2A3252;
}

.form__error {
    margin: 10px 0;
    color: #EA4C89;
}

.form__input {
    margin-bottom: 30px;
    font-size: 20px;
    padding: 20px;
    background: #F3F3F4;
    border: 1px solid #F3F3F4;
    border-radius: 10px;
    width: 500px;
}

.form__input:focus {
    border: 1px solid #F7B7D0;
    background: #fafafa;
    outline: 5px solid #FDEDF3;
}

.form__textarea {
    margin-bottom: 30px;
    font-size: 20px;
    padding: 20px;
    background: #F3F3F4;
    border: 1px solid #F3F3F4;
    border-radius: 10px;
    width: 500px;
}

.form__textarea:focus {
    border: 1px solid #F7B7D0;
    background: #fafafa;
    outline: 5px solid #FDEDF3;
}

.form__submit {
    cursor: pointer;
    font-size: 18px;
    width: 250px;
    border-radius: 10px;
    color: #fafafa;
    padding: 10px;
    background: #EA4C89;
}

.form__submit:disabled {
    background: #88445E;
}

.right__option {
    margin-top: 10px;
}

.option__button {
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    color: #EA4C89;
    background: none;
    border-bottom: 1px solid #fafafa;
}

.option__button:hover {
    border-bottom: 1px solid #EA4C89;
}

/* ---------------------------------------------------------------------------- */
.header__body {
    padding: 0 5px;
    background: #181818;
    min-height: 50px;
    border-bottom: 1px solid #242424;
    display: flex;
}

.header__navigation {
    width: 25%;
    display: flex;
    align-items: center;
}

.header__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #ffffff;
}

.header__menu:hover {
    background: #242424;
}

.header__main {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #ffffff;
}

.header__logout:hover {
    background: #242424;
}

/* ---------------------------------------------------------------------------- */
.page__body {
    display: flex;
    min-height: calc(100vh - 50px);
    background: #181818;
}

.page__navigation-active {
    width: 25%;
    border-right: 1px solid #242424;
}

.page__navigation {
    width: 0;
}

.page__main-active {
    width: 75%;
    background: #fafafa;
}

.page__main {
    width: 100%;
    background: #fafafa;
}

/* ---------------------------------------------------------------------------- */
.navigation-active {
    visibility: visible;
    opacity: 1;
    padding: 0 10px;
    transition: opacity 2s;
}

.navigation {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
}

.navigation__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__button {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    background: none;
    border: 1px solid #242424;
    color: #ffffff;
}

.navigation__button:hover {
    background: #242424;
}

.navigation__body {
    border-top: 1px solid #242424;
    margin-top: 10px;
    padding: 10px 0;
}

.navigation__project {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding: 10px;
    background: none;
    color: #ffffff;
}

.navigation__project:hover {
    background: #242424;
}

/* ---------------------------------------------------------------------------- */
.projectContextMenu {
    position: absolute;
    padding: 10px;
    border: 1px solid #242424;
    border-radius: 10px;
    background: #181818;
}

.projectContextMenu__body {
    display: flex;
    flex-direction: column;
}

.projectContextMenu__button {
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background: #181818;
    color: #ffffff;
}

.projectContextMenu__button:hover {
    background: #242424;
}

/* ---------------------------------------------------------------------------- */
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active {
    transform: scale(1);
}

.modal__body {
    padding: 20px;
    border-radius: 10px;
    background: #fafafa;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__title {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    color: #2A3252;
}

.modal__submit {
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    color: #fafafa;
    padding: 10px;
    background: #EA4C89;
}

.modal__submit:disabled {
    background: #88445E;
}

/* ---------------------------------------------------------------------------- */
.main__head {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: space-between;
}

.main__title {
    font-size: 30px;
}

.main__buttons {
    display: flex;
    align-items: center;
}

.main__button {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #6D6E6F;
}

.main__button:hover {
    background: #EDEAE9;
    color: #000000;
}

.main__navlinks {
    background: #ffffff;
    display: flex;
    padding: 0 10px;
    border-bottom: 1px solid #EDEAE9;
}

.main__navlink-active {
    padding: 10px 0;
    font-size: 18px;
    margin-right: 30px;
    border-bottom: 2px solid #000000;
    color: #000000;
}

.main__navlink {
    padding: 10px 0;
    font-size: 18px;
    margin-right: 30px;
    color: #6D6E6F;
}

.main__navlink:hover {
    color: #000000;
}

/* ---------------------------------------------------------------------------- */
.instruction {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instruction__logo {
    font-size: 50px;
    font-weight: 600;
    color: #EA4C89;
}

.instruction__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}

.instruction__subtitle {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    background: #181818;
    border: 1px solid #242424;
    color: #ffffff;
}

/* ---------------------------------------------------------------------------- */
.review {
    height: calc(100vh - 155px);
    overflow-y: scroll;
}

.review__body {
    padding: 10px;
}

.review__button {
    display: flex;
    background: none;
    color: #6D6E6F;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
}

.review__button:hover {
    background: #F3F1F1;
}

.review__descriptions {
    margin-top: 10px;
}

.review__description {
    margin-bottom: 10px;
    border: 1px solid #EDEAE9;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
}

.description__head {
    display: flex;
    justify-content: space-between;
}

.description__title {
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.description__buttons {
    display: flex;
}

.description__button {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #6D6E6F;
}

.description__button:hover {
    background: #EDEAE9;
    color: #000000;
}

.description__text {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

/* ---------------------------------------------------------------------------- */
.board {
    display: flex;
    height: calc(100vh - 155px);
}

.board__body-left1 {
    padding: 10px;
    width: 570px;
    overflow-x: scroll;
}

.board__body-left2 {
    padding: 10px;
    width: 1140px;
    overflow-x: scroll;
}

.board__body-left3 {
    padding: 10px;
    width: 870px;
    overflow-x: scroll;
}

.board__body-left4 {
    padding: 10px;
    width: 1440px;
    overflow-x: scroll;
}

.board__button {
    display: flex;
    background: none;
    color: #6D6E6F;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
}

.board__button:hover {
    background: #F3F1F1;
}

.board__body-right {
    visibility: hidden;
    width: 0;
}

.board__body-right__active {
    display: flex;
    border-left: 1px solid #EDEAE9;
    background: #ffffff;
    width: 570px;
}

.board__boards {
    display: flex;
    height: calc(100vh - 232px);
}

.board__board {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.board__board-head {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.board__board-title {
    font-size: 16px;
    font-weight: 600;
}

.board__board-buttons {
    display: flex;
}

.board__board-button {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #6D6E6F;
}

.board__board-button:hover {
    background: #EDEAE9;
    color: #000000;
}

.board__tasks {
    display: flex;
    flex-direction: column;
}

.board__task {
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #EDEAE9;
    background: #ffffff;
}

.board__task:hover {
    border: 1px solid #AFABAC;
}

.task__button {
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #EDEAE9;
    background: #ffffff;
}

.task__button:hover {
    border: 1px solid #AFABAC;
}

.task__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.info__head {
    padding: 10px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEAE9;
}

.info__title {
    font-size: 22px;
}

.info__buttons {
    display: flex;
}

.info__body {
    display: flex;
    height: calc(100% - 120px);
    overflow-y: scroll;
    width: 100%;
    background: #FAFAFA;
    padding: 10px;
}

.info__comments {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info__comment {
    margin-bottom: 10px;
    border: 1px solid #EDEAE9;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
}

.comment__title {
    font-weight: 700;
}

.comment__text {
    margin-top: 10px;
    font-size: 20px;
}

.info__foot {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 70px;
    border-top: 1px solid #EDEAE9;
}

.info__input {
    font-size: 20px;
    padding: 20px;
    background: #F3F3F4;
    border: 1px solid #F3F3F4;
    border-radius: 10px;
    width: 500px;
    height: 50px;
}

.info__input:focus {
    border: 1px solid #F7B7D0;
    background: #fafafa;
    outline: 5px solid #FDEDF3;
}

.info__button {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #6D6E6F;
}

.info__button:hover {
    background: #EDEAE9;
    color: #000000;
}

/* ---------------------------------------------------------------------------- */
.monitoring {
    padding: 10px;
    height: calc(100vh - 155px);
    overflow-y: scroll;
}

.monitoring__statuses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.monitoring__status {
    height: 150px;
    border-radius: 10px;
    border: 1px solid #EDEAE9;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 30px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.status__counter {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 600;
}

.monitoring__diagrams {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.monitoring__diagram {
    height: 500px;
    border-radius: 10px;
    border: 1px solid #EDEAE9;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 30px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    color: #000000;
}