*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    line-height: 1;
    background: #121212;
    font-size: 14px;
    color: #37353b;
    font-weight: 500;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------------------- */
.__container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

/* ---------------------------------------------------------------------------- */
.header__body {
    padding: 0 5px;
    background: #181818;
    min-height: 50px;
    border-bottom: 1px solid #242424;
    display: flex;
}

.header__navigation {
    width: 25%;
    display: flex;
    align-items: center;
}

.header__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #ffffff;
}

.header__menu:hover {
    background: #242424;
}

.header__main {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #ffffff;
}

.header__logout:hover {
    background: #242424;
}

/* ---------------------------------------------------------------------------- */
.page__body {
    display: flex;
    min-height: calc(100vh - 50px);
    background: #181818;
}

.page__navigation-active {
    width: 25%;
    border-right: 1px solid #242424;
    transition: 0.4s;
}

.page__navigation {
    width: 0;
    transition: 0.4s;
}

.page__main-active {
    width: 75%;
    background: #fafafa;
}

.page__main {
    width: 100%;
    background: #fafafa;
}

/* ---------------------------------------------------------------------------- */
.navigation-active {
    visibility: visible;
    opacity: 1;
    padding: 0 10px;
    transition: opacity 2s;
}

.navigation {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
}

.navigation__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__button {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    background: none;
    border: 1px solid #242424;
    color: #ffffff;
}

.navigation__button:hover {
    background: #242424;
}

.navigation__body {
    border-top: 1px solid #242424;
    margin-top: 10px;
    padding: 10px 0;
}

.navigation__project {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding: 10px;
    background: none;
    color: #ffffff;
}

.navigation__project:hover {
    background: #242424;
}